h1{
    color: red;
}

body{
    background-color: rgb(153, 255, 0);
}

p{
    color: rgb(0, 110, 255);
    text-shadow: 3px 3px 2px crimson;
}

img{
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

@keyframes identifier {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

button{
    width: 100%;
    height: 100px;
    cursor: pointer;
}